{% extends "newsweek/base.html"%}


{% block content %}
    <h1>Contact us!</h1>
    <h2 class="contact">Contact</h2>
    <h2 class="phonemail">
            e-mail: sourcefinder@gmail.com<br>
            phone : +56 665 632 1223<br>
    </h2>
    <h2 class="us">If you have any questions or you need some help,<br>
        just contact with us! We are available per 24/7<br> (even on holidays!) and we will <span CLASS="find">find</span>
        answer<br> on your problems.
    </h2>
{% endblock content %}
